nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:beige;
    padding: 15px;
    }
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
     }
nav li {
   display: inline-block;
   margin-right: 20px;
     }
nav a {
   text-decoration: none;
   color: #333;
     }
nav a:hover{
  color:brown;
  background-color: burlywood;
  border-radius: 5%;

}
h2{
    padding-top: 8%;
    
}

/*form*/
#successMessage {
  background-color: #4CAF50; 
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  display: none;
  font-weight: bold;
  margin-top: 10px;
}

body{
  background-color: var(--bg-color); /*theme switch*/
  color: var(--text-color);
  font-family: 'Playfair Display', serif;
  transition: background-color 0.3s, color 0.3s;
}
.container1{
    background-color:beige;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    font-size: 20px;
    padding: 20px;
   
}

:root {     /*theme switcher**/
  --bg-color: beige;
  --text-color: #333;
  --button-bg: #eac986;
  --button-text: white;
}



button.theme-toggle-button {
  padding: 10px 20px;
  background-color: #eac986;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.theme-toggle-button:hover {
  background-color: #b69f64;
}
.dark-theme {
  --bg-color: #333;
  --text-color: beige;
  --button-bg: #555;
  --button-text: #eac986;
}


@media (max-width: 767px) {
  body {
      font-size: 14px;
  }
 
}
/*mobitel*/

@media (min-width: 768px) and (max-width: 1023px) {
  body {
      font-size: 16px;
  }
  
}
/*tablet*/
@media (min-width: 1024px) {
  body {
      font-size: 18px; 
  }

}
/*laptop*/
