nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:beige;
    padding: 15px;
    }
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
     }
nav li {
   display: inline-block;
   margin-right: 20px;
     }
nav a {
   text-decoration: none;
   color: #333;
     }
nav a:hover{
  color:brown;
  background-color: burlywood;
  border-radius: 5%;

}
h2{
    padding-top: 8%;
    
}
.container1{
    background-color:beige;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    font-size: 20px;
    padding: 20px;
}


button.theme-toggle-button {
  padding: 10px 20px;
  background-color: #eac986;
  color: rgb(3, 1, 8);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.theme-toggle-button:hover {
  background-color: #b69f64;
}

body.dark-theme {
  background-color: #d6dba17c;
  color: rgba(15, 15, 15, 0.189);
}

nav.dark-theme {
  background-color: #333;
}

button.theme-toggle-button.dark-theme {
  background-color: #e3cfa3;
}


@media (max-width: 767px) {
  body {
      font-size: 14px;
  }
 
}
/*mobitel*/

@media (min-width: 768px) and (max-width: 1023px) {
  body {
      font-size: 16px;
  }
  
}
/*tablet*/
@media (min-width: 1024px) {
  body {
      font-size: 18px; 
  }

}
/*laptop*/
