nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:beige;
    padding: 15px;
    }
nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
     }
nav li {
   display: inline-block;
   display: inline-block;
   margin-right: 50px;
     }
nav a {
   text-decoration: none;
   color: #333;
     }


*{
    font-family: Playfair+Display;
    z-index: 10%;
}

.form {
    max-width: 650px;
    margin-right: 5%;
    padding: 20px 30px;
    background-color: beige;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    
}

.form h2 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px;
}


input, textarea {
    display: block;
    margin: 5px 0 5px;
    color: #0b0b0b; 
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: #f0f0f0;
    padding: 10px 20px;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(178, 109, 109);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: brown;
}
  .adress {
    background-color: beige; 
    padding: 15px; 
    border-radius: 10px;
    width: 350px;
    height: 150px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-self:right;
    position: absolute;
    left:1000px;
    top:300px;
    

}


aside {
    padding: 10px;
    float:right;
}


address {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    color: #333; 
}


address a {
    color: #0077cc; 
    text-decoration: none;
}

address a:hover {
    text-decoration: underline;
}