body{
    background-image: url(IMG_7477.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#paragraf{
    text-align:inherit;
    color: rgba(85, 79, 79, 0.626);
    margin-left: 25%;
    font-size: 70px;

}

.button{
    
    justify-content: space-around;
    background-color: beige;
    display:flex;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    margin-top: 20%;
    font-family: cursive;
    font-size: 20px;
    color:black;
}


#naslov{
    text-align: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic, bold;
    color: rgba(85, 79, 79, 0.626); 
    
    
}
