nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:beige;
    padding: 15px;
    }

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
     }

nav li {
   display: inline-block;
   display: inline-block;
   margin-right: 50px;
     }

nav a {
   text-decoration: none;
   color: #333;
     }
.text{
    padding-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 20px;
}
#italic{
  font-style: italic;
  font-size: 25px;
  padding-top: 2,5%;
}
